@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white dark:bg-night-950 text-gray-900 dark:text-gray-100 transition-colors duration-500 antialiased;
  }
  
  /* Smooth scrolling for anchor links */
  html {
    @apply scroll-smooth;
  }
}

/* Custom Scrollbar for Webkit */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #36057A;
}
.dark ::-webkit-scrollbar-thumb {
  background: #334155;
}